body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title{
	color: #000000;
	font-size: 36px;
	font-family: bold;
}

.subtitle{
	color: #000000;
	font-size: 22px;
}
.intro{
	color: #696969;
	font-size: 18px;
}

.forwardButton{
	margin-top: 50px;
	outline-style: dotted;
	font-size: 24px;
	padding-top: 7px;
	padding-bottom: 7px;

	text-align: center;
	
}

.colorRed{
	color: #d12a27;
}

.colorBlue{
	color: #201ea1;
}

.colorGreen{
	color: #1ea129;
}

.colorGrey{
	color: #696969;
}


